<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinecraftJsonGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MinecraftJsonGenerator.Properties.Settings>
            <setting name="LastBlockName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVariantPattern" serializeAs="String">
                <value>_broken{variant}</value>
            </setting>
            <setting name="LastVariantCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastNamespace" serializeAs="String">
                <value>minecraft</value>
            </setting>
            <setting name="LastWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastMultipleBlocks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastItemVariant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastAlternativeChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastWeights" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBlockType" serializeAs="String">
                <value>0</value>
            </setting>
        </MinecraftJsonGenerator.Properties.Settings>
    </userSettings>
</configuration>